@charset    "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font: normal 20pt black;
}
h1{
    padding-top: 20px;
}
main{
    display: block;
    margin: auto;
    background-color: rgb(71, 70, 70);
    text-align: center;
    width: 500px;
    height: 500px;
}
td{
    width: 60px;
    height: 60px;
    border: 2px solid black;
}
table{
    padding-top: 60px;
    border: 2px solid black;
    margin: auto;
    margin-top: 30px;
}