@charset    "UTF-8";


*{
    --cor01: #3c096c;
    --cor02: #5a189a;
    --cor03: #7b2cbf;
    padding: 0px;
    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor01),var(--cor03));
    text-align: center;
    padding: 60px;
    color: white;
}
header > h1{
    font-size: 3em;
}
header > p{
    margin-top: 30px;    
    font-size: 1.5em;
}
nav{
    background-color: var(--cor03);
}
nav > a {
    
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding-left: 2px;
    padding-right: 2px;
}
nav > a:hover{
    background-color: aqua;
    color: black;
}