@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(212, 211, 211);
}


header{
    width: 800px;
    margin: auto;
}

header > h1{
    margin-top: 20px;
    margin-bottom: 100px;
}

header > nav > ul{
    display: flex;
    padding: 10px;
    list-style: none;
}

header > nav > ul > li{
    display: block;
    margin: auto;
}

header > nav > ul > li > a{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

header > nav > ul > li > a{
    color: black;
    text-decoration: none;
    background-color: blanchedalmond;
}


h1{
    text-align: center;
}

main{
    width: 800px;
    background-color: antiquewhite;
    margin: auto;
}


footer{
    margin: auto;
    width: 800px;
    text-align: center;
    background-color: black;
    color: white;
}

footer > p > a{

    color: white;
    text-decoration: none;
}